# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.{csproj,dbproj,filters,fsproj,lsproj,modelproj,props,sln,sqlproj,vbproj,vcproj,vcxitems,vcxproj,wixproj,wmaproj,xproj}]
charset = utf-8-bom
end_of_line = crlf

# 4-wide spaces
[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4

# use tabs for Makefile
[Makefile]
indent_style = tab
