[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/tenacityteam/vcpkg.git
	branch = tenacity
[submodule "packaging/flatpak/shared-modules"]
	path = packaging/flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
