# CMake build directory
build/

# Doxygen output
dox/

# All those help files
help/manual*
help/temp*

# Misc
src/RevisionIdent.h
win/resetPrefs.txt

vcpkg_installed

# Flatpak
!packaging/**

# Prevent accidentally uploading complete local PAT
nuget.config
