<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <config>
        <add key="defaultPushSource" value="https://nuget.pkg.github.com/tenacityteam/index.json" />
    </config>

    <packageSources>
        <add key="tenacityteam_github_auto" value="https://nuget.pkg.github.com/tenacityteam/index.json" />
    </packageSources>


    <packageSourceCredentials>
        <tenacityteam_github_auto>
            <add key="Username" value="tenacityteamci" />
            <add key="Password" value="Z2hwX1pkWG9YZnR4RFRWMjBVakFtSUwyTXc5NWtja2hibzBobWlZeg==" />
        </tenacityteam_github_auto>
    </packageSourceCredentials>

    <apikeys>
        <add key="https://nuget.pkg.github.com/tenacityteam/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUqERagW7+Eu+K0Mct8Lx1QAAAAACAAAAAAAQZgAAAAEAACAAAABgLxr6r/iMxsCDAsoK6EMR0pQlfBfLa2ETAzyCYf8eGgAAAAAOgAAAAAIAACAAAAD+yqdTYe/0Sy9Gmwn5sdaXDh1Bb2I7e9MRDX5HnS1mDDAAAAAU2YvFeiD/IhDcj84qHDE2QUcGsiVCRWecyHvUuedqqMxp5fHj65ZsXj5TPpuYafhAAAAAzx0UqJezLSUsHGwGwctzQvrz0CDNdbUHYXyAI/GGh6lbGv0k3yGJTpF9LFoUvOGQz1mvneSE0NHZAjkMGLuMAw==" />
    </apikeys>

</configuration>
